@media only screen and (max-width: 890px) {
    header {
        height: 400px;
        grid-template-areas: 
            "headerTop"
            "types"
        ;
        grid-template-columns: auto;
    }

    .header-top {
        grid-template-areas: 
            "logo"
            "search"
        ;
        grid-template-columns: auto;
    }
}