* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: linear-gradient(to bottom, rgb(140, 122, 122) 0%, rgb(175, 135, 124) 65%, rgb(175, 135, 124) 100%) fixed;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #3a3256;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

header {
    grid-area: header;
    width: 100%;
    height: 130px;
    padding: 20px;    
    display: grid;
    grid-template-areas: 
        "logo search . mode"
    ;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background-color: #39645d59;
    color: #ebfffc;
}

.logo {
    grid-area: logo;
    display: flex;
}

header img {
    width: 200px;
}

header h1 {
    font-size: 40px;
    font-weight: 400;
}

.search {
    width: 100%;
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
    margin: 0 20px;
}

.mode {
    grid-area: mode;
    width: 100%;
}

.mode input[type="checkbox"] {
    appearance: none;
    height: 50px;
    width: 120px;
    background-color: #3a3256;
    position: absolute;
    transform: translateX(95%);
    top: 40px;
    border-radius: 30px;
}

.mode input[type="checkbox"]::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    background-color: #7d7890;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.mode input[type="checkbox"] {
    cursor: pointer;
}

.mode input[type="checkbox"]:checked::before {
    background-color: #fff;
    left: 75px;
    box-shadow: 0 0 20px 5px rgba(196, 241, 255, 0.8);
}

main {
    width: 100%;
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "filters cards"
    ;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: auto;
    min-height: calc(100vh - 130px);
}

.filters {
    grid-area: filters;
    width: 100%;
    padding: 20px 0px 0px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e8e8e80c;
    color: #fff;
}

.filters h2 {
    font-size: 25px;
}

.filters hr {
    margin-bottom: 30px;
}

.filters ul {
    list-style: none;
}

.filters ul li {
    margin-bottom: 15px;
}

.checkbox {
    height: 15px;
    width: 15px;
    background-color: #d5d5d5;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox:checked {
    accent-color: #7d2ae8;
}

.checkbox:checked {
    color: #7d2ae8;
}

label {
    /* color: #4c4c4c; */
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


.cards {
    width: 100%;
    grid-area: cards;
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(350px, 1fr)
        )
    ;
    gap: 32px;
    padding: 30px;
}

.card-container {
    display: grid;
    place-items: center;
    position: relative;
    width: 390px;
    height: 500px;
    background: linear-gradient(50deg, #2a5a3b, #1e4886);
    border-radius: 10px;
    padding: 3px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #494949;
}

.card-container::before {
    content: "";
    position: absolute;
    width: 750px;
    height: 35px;
    top: 0;
    right: 10px;
    transition: 1.9s;
    background: linear-gradient(50deg, #00ff59, #02b3ff);
    transform: rotate(-45deg) translate(0, -30px);
}

.card {
    position: relative;
    background: radial-gradient(
        circle at 50% 0%, orange 36%, #ffffff 36%
    );
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: #01505a;
    height: 100%;
    cursor: pointer;
}

.card:hover {
    color: rgb(0, 0, 0);
}

.card-container:hover::before {
    animation: efect 1.9s;
}

@keyframes efect {
    100% {
        transform: rotate(-45deg) translate(0, 650px);
    }
}

.card img {
    display: block;
    width: 300px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
}

.hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
    float: right;
}

.poke-name {
    text-align: center;
    font-weight: 400;
}

.types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.hp span, .types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stats p {
    color: #404060;
}

.light {
    color: black;
    background-color: #ffffff0f;
}

.dark {
    color: #fff;
    background-color: #3a325611;
}