* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    /* background: linear-gradient(to bottom, rgb(140, 122, 122) 0%, rgb(175, 135, 124) 65%, rgb(175, 135, 124) 100%) fixed;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #3a3256b8; */
    background-color: seashell; 
    display: grid;
    grid-template-areas: 
        ". header ."
        ". main ."
    ;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    place-items: center;
}

header {
    grid-area: header;
    width: 93%;
    height: 230px;
    padding: 20px;    
    display: grid;
    grid-template-areas: 
        "headerTop"
        "types"
    ;
    grid-template-columns: auto;
    background-color: #018aa9;
    /* background: linear-gradient(to right, #00B4DB, #0083B0); */
    color: #ebfffc;
    margin-top: 30px;
    border-radius: 20px;
}

.header-top {
    width: 100%;
    grid-area: headerTop;
    display: grid;
    grid-template-areas: 
        "logo search ."
    ;
    grid-template-columns: 1fr 2fr 1fr;
}

.logo {
    grid-area: logo;
    display: flex;
}

header img {
    width: 200px;    
}

header img:hover {
    cursor: pointer;
}

header h1 {
    font-size: 40px;
    font-weight: 400;
}

.search {
    width: 100%;
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    width: 100%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
    margin: 0 20px;
}

.buttons-types {
    grid-area: types;
    text-align: center;
}

.button-type {
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
    border: none;
}

.button-type:hover {
    cursor: pointer;
}

.menu {
    display: none;
}

/* .div-search {
    width: 90%;
}

.container-suggestions {
    max-height: 280px;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    overflow-y: auto;
    background-color: #00ff59;
}

.container-suggestions li {
    list-style: none;
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    display: none;
}

.search.active .container-suggestions {
    opacity: 1;
    pointer-events: auto;
    padding: 10px 8px;
}

.search.active .container-suggestions li{
    display: block;
}

.mode {
    grid-area: mode;
    width: 100%;
}

.mode input[type="checkbox"] {
    appearance: none;
    height: 50px;
    width: 120px;
    background-color: #3a3256;
    position: absolute;
    transform: translateX(95%);
    top: 40px;
    border-radius: 30px;
}

.mode input[type="checkbox"]::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    background-color: #7d7890;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.mode input[type="checkbox"] {
    cursor: pointer;
}

.mode input[type="checkbox"]:checked::before {
    background-color: #fff;
    left: 75px;
    box-shadow: 0 0 20px 5px rgba(196, 241, 255, 0.8);
} */

main {
    width: 100%;
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "cards"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;
    min-height: calc(100vh - 130px);
    margin: 0;
}

.blur-in { 
    animation:blur-in 0.2s linear both
} 

@keyframes blur-in {
    100% { 
        filter:blur(.01px);
    }
    0% {
        filter:blur(12px);opacity:0
    }
}

/* .filters {
    grid-area: filters;
    width: 100%;
    padding: 20px 0px 0px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e8e8e80c;
    color: #fff;
}

.filters h2 {
    font-size: 25px;
}

.filters hr {
    margin-bottom: 30px;
}

.filters ul {
    list-style: none;
}

.filters ul li {
    margin-bottom: 15px;
}

.checkbox {
    height: 15px;
    width: 15px;
    background-color: #d5d5d5;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox:checked {
    accent-color: #7d2ae8;
}

.checkbox:checked {
    color: #7d2ae8;
}

label {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
} */

.cards {
    width: 100%;
    grid-area: cards;
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(350px, 1fr)
        )
    ;
    gap: 42px;
    padding: 30px;
}

.load-container {
    position: relative;
    margin-top: 100px;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-container .ring {
    position: relative;
    width: 100px;
    height: 100px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.load-container .ring::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 5px #24ecff22,
    0 0 0 10px #24ecff11,
    0 0 20px #24ecff,
    0 0 50px #24ecff;
}

.load-container .ring:nth-child(2) {
    animation: animate2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #93ff2d;
}

.load-container .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 8px;
    left: 8px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #93ff2d;
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 5px #93ff2d22,
    0 0 0 10px #93ff2d11,
    0 0 20px #93ff2d,
    0 0 50px #93ff2d;
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.load-container .ring:nth-child(3) {
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: 116.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #e41cf8;
}

.load-container .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 8px;
    left: 8px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #e41cf8;
    box-shadow: 0 0 0 5px #e41cf833,
    0 0 0 5px #e41cf822,
    0 0 0 10px #e41cf811,
    0 0 20px #e41cf8,
    0 0 50px #e41cf8;
}

.load-container p {
    position: absolute;
    color: #000;
    font-size: 35px;
    font-family: consolas;
    bottom: -20px;
    letter-spacing: 7px;
}

.card-container {
    display: grid;
    place-items: center;
    position: relative;
    width: 350px;
    height: 480px;
    background: linear-gradient(50deg, #2a5a3b, #1e4886);
    border-radius: 10px;
    padding: 3px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #494949;
}

.card-container::before {
    content: "";
    position: absolute;
    width: 750px;
    height: 35px;
    top: 0;
    right: 10px;
    transition: 1.9s;
    background: linear-gradient(50deg, #00ff59, #02b3ff);
    transform: rotate(-45deg) translate(0, -30px);
}

.card {
    width: 100%;
    position: relative;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: #01505a;
    height: 100%;
    cursor: pointer;
}

.card:hover {
    color: rgb(0, 0, 0);
}

.card-container:hover::before {
    animation: efect 1.9s;
}

@keyframes efect {
    100% {
        transform: rotate(-45deg) translate(0, 650px);
    }
}

.card img {
    display: block;
    width: 150px;
    height: 150px;
    /* max-height: 150px;
    min-height: 100px; */
    position: relative;
    margin: 20px auto;
    margin-left: 70px;
}

.hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
    float: right;
}

.poke-name {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
}

.types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.hp span, .types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stats p {
    color: #404060;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
}

.modal_container {
    margin: auto;
    width: 500px;
    height: 700px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    text-align: center;
}

.modal_container img {
    width: 300px;
}

.modal_close {
    text-decoration: none;
    color: #fff;
    background-color: #f26250;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal_close:hover {
    cursor: pointer;
    color: #f26250;
    background-color: #fff;
}

.light {
    color: black;
    background-color: #ffffff;
}

.dark {
    color: #fff;
    background-color: #3a325611;
}